{{#each this}}
<div class="item">
    <h2 class="country__name">{{name}}</h2>
    <div class="content">
        <ul class="country__info list">
            <li class="country__info--item"><span>Capital:</span> {{capital}}</li>
            <li class="country__info--item"><span>Population:</span> {{population}}</li>
            <li class="country__info--item"><span>Languages:</span>
                <ul class="languages">
                    {{#each languages}}
                    <li class="language">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="flag" src="{{flag}}" alt="{{name}} flag">
    </div>
</div>
{{/each}}